services:
  web:
    build: .
    restart: unless-stopped
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
    ports:
      - "127.0.0.1:8000:8000"
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
